﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VideoTarzan</h1>
    <p class="lead">VideoTarzan una tienda online donde puede adquirir tus peliculas</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><img src="https://drama.fandom.com/es/wiki/GFRIEND?file=EOuRml2UEAARQcI.jpg"></h2>
        <p>
            Parasitos.

            Tanto Gi Taek como su familia están sin trabajo. Cuando su hijo mayor, Gi Woo, empieza a recibir clases particulares en la adinerada casa de Park, las dos familias, que tienen mucho en común pese a pertenecer a dos mundos totalmente distintos, comienzan una relación de resultados imprevisibles
        </p>
        <p>@Html.ActionLink("Ver", "Index", "Peliculas")
    </div>
    <div class="col-md-4">
        <h2><img src="https://www.google.com/search?q=joker+poster&tbm=isch&ved=2ahUKEwiJhMWx-eDnAhXHBVkKHZsmC1gQ2-cCegQIABAA&oq=joker+poster&gs_l=img.3..0l10.1035.2009..2185...0.0..0.144.880.0j7......0....1..gws-wiz-img.......0i67.xC5QHcI6bnI&ei=OOlOXomIOseL5AKbzazABQ#imgrc=z7hezWTv9usCcM"></h2>
        <p>
            Joker

            Arthur Fleck adora hacer reír a la gente, pero su carrera como comediante es un fracaso. El repudio social, la marginación y una serie de trágicos acontecimientos lo conducen por el sendero de la locura y, finalmente, cae en el mundo del crimen
        </p>
        <p>@Html.ActionLink("Ver", "Index", "Peliculas")</p>
    </div>
    <div class="col-md-4">
        <h2><img src="https://www.google.com/search?q=infinity+war+2+avenger+end+game&tbm=isch&ved=2ahUKEwj53bGz-eDnAhUOXVkKHRTaAnYQ2-cCegQIABAA&oq=avenger+end+game+2&gs_l=img.1.0.0i8i30l3j0i24.13930.17669..18141...0.0..0.139.1644.0j13......0....1..gws-wiz-img.......35i39j0i67j0.ftqginZr9Gg&ei=POlOXvnPMo665QKUtIuwBw#imgrc=_TRnVg7mD1ea0M"></h2>
        <p>
            Avengers EndGame.

            Los Vengadores restantes deben encontrar una manera de recuperar a sus aliados para un enfrentamiento épico con Thanos, el malvado que diezmó el planeta y el universo.
        </p>
        <p>@Html.ActionLink("Ver", "Index", "Peliculas")
    </div>
</div>