﻿@model IEnumerable<VideoTarzan.Models.Rol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("prueba") == true)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @if (User.IsInRole("prueba") == true)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.idRol })
                    @Html.ActionLink("Details", "Details", new { id = item.idRol })
                    @Html.ActionLink("Delete", "Delete", new { id = item.idRol })

                }
            </td>
        </tr>
    }
</table>