﻿@model VideoTarzan.Models.Sesion

@{
    ViewBag.Title = "Iniciar";
}

<h2>Iniciar Sesión</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-6 form-group">
            @Html.LabelFor(m => m.NombreUsuario)
            @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-6 form-group">
            @Html.LabelFor(m => m.Clave)
            @Html.TextBoxFor(m => m.Clave, new { @type = "password", @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <input type="submit" class="btn btn-success" value="Iniciar" />
        </div>
    </div>
}