﻿@model VideoTarzan.Models.Pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listaActores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listaActores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoAlquiler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoAlquiler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadInventario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPelicula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
