﻿@model IEnumerable<VideoTarzan.Models.Pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("prueba") == true)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.listaActores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costoAlquiler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadInventario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listaActores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costoAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadInventario)
            </td>
            <td>
                @if (User.IsInRole("prueba") == true)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.idPelicula })
                    @Html.ActionLink("Details", "Details", new { id = item.idPelicula })
                    @Html.ActionLink("Delete", "Delete", new { id = item.idPelicula })
                }
            </td>
        </tr>
    }
</table>